<div class="card text-center m-3 cv">
    <div class="card body">
        <h4 class="my-3">
            Hola! Te invito a ver mi CV! Puedes descargarlo Aquí <button class="btn-pdf" (click)="downloadPdf()"><fa-icon [icon]="faFilePdf"></fa-icon></button>
        </h4>
        <div class="row mx-2">
            <div class="col-lg-4">
                <div class="my-3">
                    <h4>Perfil <fa-icon [icon]="faAddressCard"></fa-icon> </h4>
                    <p>
                        Hola! soy Bruno, Estudiante de 23 años de Ingeniería Civil en informática y Desarrollado Web en
                        constante formación y trabajo. Me gusta aprender
                        de tecnologías, participar en distintas clases de
                        proyectos y trabajar en equipo. Busco poder
                        seguir trabajando y aprendiendo en la amplia área
                        de la informática.
                    </p>
                </div>
                <div class="my-3">
                    <h4>Contacto <fa-icon [icon]="faCoffe"></fa-icon> </h4>
                        <p class="my-4">
                            <fa-icon [icon]="faPhone"></fa-icon>
                            +56 981307604
                        </p>
                        <p class="my-4">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                            bruno.aguilar.b@gmail.com
                        </p>
                        <p class="my-4">
                            <fa-icon [icon]="faCompass"></fa-icon>
                            Villa Alemana, Chile.
                        </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="my-3">
                    <img class="img-thumbnail rounded-circle" src="../../assets/img/cv-image.jpeg">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="my-3">
                    <h4>Educación <fa-icon [icon]="faUniversity"></fa-icon></h4>
                    <h6>2016 - 2019 | Licenciado de ciencias de la Ingeniería</h6>
                    <h6> Pontificia Universidad Católica de Valparíso</h6>
                    <br>
                    <h6>2016 - Actualidad | Ingeniería Civil en informática </h6>
                    <h6> Pontificia Universidad Católica de Valparíso</h6>
                    <h6>2016 - 2019 | Licenciado de ciencias de la Ingeniería</h6>
                    <br>
                    <h6>Actualidad | Formación mediante cursos virtuales</h6>
                    <h6>Udemy, Youtube, Coursera y Documentaciones</h6>
                </div>
                <br> 
                <h4>Certificados <fa-icon [icon]="faFile"></fa-icon></h4>
            </div>
        </div>
        <h4 class="my-4">Experiencia <fa-icon [icon]="faLaptopCode"></fa-icon></h4>
        <div class="row mx-2">             
            <div class="col-lg-3">
                <h6>2019 | Practicante en Investigación</h6>
                <h6>Pontificia Universidad Católica de Valparaíso</h6>
                <p>
                    Participación como desarrollador e
                    investigador en el área de optimización e
                    inteligencia artificial. Habilidades
                    requeridas: Python (Liberías estandar,
                    TensorFlow, Scikit-learn, Numpy).
                </p>
            </div>
            <div class="col-lg-3">
                <h6>2019 | Desarrollo Web</h6>
                <h6> Ten Percent</h6>
                <p>
                    Cofundador, analista y desarrollador web
                    en emprendimiento Ten Percent.
                    Habilidades requeridas: WordPress y
                    buena comunicación con equipo de
                    trabajo y clientes.
                </p>
            </div>
            <div class="col-lg-3">
                <h6>2020 | Desarrollador Web</h6>
                <h6>DropShipping</h6>
                <p>
                    Desarrollador de asistencia en aplicación web.
                    Tecnologías y lenguajes utilizados: ReactJs,
                    HTML, CSS y Bootstrap.
                </p>
            </div>   
            <div class="col-lg-3">
                <h6>2020 - Actualidad | Desarrollador Web en Proyecto Fondecyt</h6>
                <p>
                    Desarrollador de aplicación web de Front-end de proyecto Fondecyt.
                    Tecnologías y lenguajes utilizados: Angular, Javascript, NodeJs, HTML,
                    CSS, Bootstrap y C++.
                </p>
            </div> 
        </div>
    </div>
</div>