<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h2>Angular</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="Inicio">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/viewchild">View Child</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/rxjs" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estudio RxJS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/rxjs/interval-timer">Interval - Timer</a>
                    <a class="dropdown-item" routerLink="/rxjs/fromEvent">fromEvent</a>
                    <a class="dropdown-item" routerLink="/rxjs/map-filter">mapFilter</a>
                    <a class="dropdown-item" routerLink="/rxjs/tap">Tap</a>
                    <a class="dropdown-item" routerLink="/rxjs/share">Share</a>
                    <a class="dropdown-item" routerLink="/rxjs/concat">Concat</a>
                    <a class="dropdown-item" routerLink="/rxjs/ciclo-observable">Ciclo Observable</a>
                    <a class="dropdown-item" routerLink="/rxjs/buffer-time">Buffer Time</a>
                    <a class="dropdown-item" routerLink="/rxjs/switchMap">SwitchMap</a>
                    <a class="dropdown-item" routerLink="/rxjs/forkJoin">Fork Join</a>
                    <a class="dropdown-item" routerLink="/rxjs/concatMap">ConcatMap</a>
                    <a class="dropdown-item" routerLink="/rxjs/mergeMap-flatMap">mergeMap - flatMap</a>
                    <a class="dropdown-item" routerLink="/rxjs/scan">Scan</a>
                    <a class="dropdown-item" routerLink="/rxjs/subject">Subject</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>