<div class="card text-dark bg-light m-2">
    <div class="card-header">
        <h2>{{title}}</h2>
    </div>
    <div class="card-body">
        <p>Se puede ver la ejecución del código en consola</p>
        <div>
            <h3>Logs: </h3>
            <p *ngFor="let log of logs;">{{log}}</p>
            <h3>Positions: </h3>
            <p *ngFor="let pos of positions;">{{pos}}</p>
        </div>

    </div>
    <div class="card-footer text-muted">
        <div  *ngFor="let apunte of apuntes;" class="card">
            <h4>{{apunte.titulo}}</h4>
            <p>{{apunte.cuerpo}}</p>
        </div>
    </div>
</div>