<div class="my-3">
    <div class="card text-white bg-dark text-center col-lg-11 mx-auto">
        <div class="card-header">
            <h3>Estudio Rxjs</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-md-5 mx-2 ml-4">
                    <div class="card text-dark bg-light m-2">
                        <div class="card-header">
                            <h4>Temas:</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group lista-temas">
                                <li class="list-group-item" routerLink="/rxjs/interval-timer">Interval - Timer</li>
                                <li class="list-group-item" routerLink="/rxjs/fromEvent">fromEvent</li>
                                <li class="list-group-item"routerLink="/rxjs/map-filter">mapFilter</li>
                                <li class="list-group-item"routerLink="/rxjs/tap">Tap</li>
                                <li class="list-group-item"routerLink="/rxjs/share">Share</li>
                                <li class="list-group-item"routerLink="/rxjs/concat">Concat</li>
                                <li class="list-group-item"routerLink="/rxjs/ciclo-observable">Ciclo Observable</li>
                                <li class="list-group-item"routerLink="/rxjs/buffer-time">Buffer Time</li>
                                <li class="list-group-item"routerLink="/rxjs/switchMap">SwitchMap</li>
                                <li class="list-group-item"routerLink="/rxjs/forkJoin">Fork Join</li>  
                                <li class="list-group-item"routerLink="/rxjs/concatMap">ConcatMap</li> 
                                <li class="list-group-item"routerLink="/rxjs/mergeMap-flatMap">mergeMap - flatMap</li>
                                <li class="list-group-item"routerLink="/rxjs/scan">Scan</li>
                                <li class="list-group-item"routerLink="/rxjs/subject">Subject</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mx-2">
                        <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>

</div>